p{
    color: red;
    font size: 20px;
}

ul{
    list-style-type: square;
    color: red;
}
h1{
    font-size: 1.5;
    background-color: rgb(150, 150, 167);
    color: blueviolet;
}
h2{
    color: aqua;
}